* {
    margin: 0;
    padding: 0;
}
html, body {
    margin: 0;
    padding: 0;
}
#drawing {
    position: absolute;
    width:100%;
    top: 0;
    bottom: 0;

}
.svg_select_points {
    background-color: #f00;
    border: 1px solid #f00;
    color: #f00;
    fill: #f00;
    stroke: #f00;
}
.svg_select_boundingRect {
    stroke: #666;
    stroke-dasharray: 4;
}
.svg_select_points_r {
    background-color: #f00;
    border: 1px solid #f00;
    color: #f00;
    stroke: #000;
    fill: #fff;
}
